.saasWebsiteLandingPageChild {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(63.56deg, #6b50ff, #a145ff);
  width: 1600px;
  height: 659px;
}
.saasWebsiteLandingPageItem {
  position: absolute;
  top: 367px;
  left: 1483.47px;
  border-radius: 91.55px;
  background: linear-gradient(
    179.07deg,
    rgba(115, 115, 255, 0.32),
    rgba(115, 115, 255, 0)
  );
  width: 183.1px;
  height: 620.79px;
  transform: rotate(109.61deg);
  transform-origin: 0 0;
}
.curvedSectionDivider12 {
  position: relative;
  width: 1600px;
  height: 136.72px;
}
.saasWebsiteLandingPageInner {
  position: absolute;
  top: 114.41px;
  left: 412px;
  border-radius: 91.55px;
  background: linear-gradient(
    179.07deg,
    rgba(115, 115, 255, 0.32) 23.61%,
    rgba(115, 115, 255, 0)
  );
  width: 183.1px;
  height: 620.79px;
  transform: rotate(-38.67deg);
  transform-origin: 0 0;
}
.rectangleDiv,
.saasWebsiteLandingPageChild1 {
  background-color: var(--color-mediumslateblue);
  transform: rotate(-38.67deg);
}
.rectangleDiv {
  position: absolute;
  top: -205.59px;
  left: -7px;
  border-radius: 91.55px;
  width: 183.1px;
  height: 620.79px;
  transform-origin: 0 0;
}
.saasWebsiteLandingPageChild1 {
  top: -10.59px;
  left: -323px;
}
.saasWebsiteLandingPageChild1,
.saasWebsiteLandingPageChild2,
.saasWebsiteLandingPageChild3 {
  position: absolute;
  border-radius: 91.55px;
  width: 183.1px;
  height: 620.79px;
  transform-origin: 0 0;
}
.saasWebsiteLandingPageChild2 {
  top: 308.41px;
  left: -395px;
  background-color: var(--color-mediumslateblue);
  transform: rotate(-38.67deg);
}
.saasWebsiteLandingPageChild3 {
  top: 354.92px;
  left: 1391.82px;
  background: linear-gradient(
    179.07deg,
    rgba(115, 115, 255, 0.32) 23.61%,
    rgba(115, 115, 255, 0)
  );
  transform: rotate(-24.44deg);
}
.home,
.logoIcon {
  position: relative;
}
.logoIcon {
  width: 160px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.home {
  letter-spacing: 0.01em;
  line-height: 155%;
}
.tille {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.text {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 155%;
  font-weight: 500;
}
.buttonBase,
.navBar,
.navContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonBase {
  border-radius: var(--br-13xl);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 187px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--padding-base) var(--padding-9xl);
  justify-content: center;
  font-size: var(--text-regular-normal-size);
}
.navBar,
.navContent {
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.navBar {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--padding-21xl) var(--padding-141xl);
  gap: var(--gap-457xl);
  text-align: left;
  font-size: var(--paragraph-18-pixel-size);
  color: var(--white);
}
.ellipseIcon,
.saasWebsiteLandingPageChild4 {
  position: absolute;
  top: 229px;
  left: 70px;
  width: 30px;
  height: 30px;
}
.saasWebsiteLandingPageChild4 {
  top: 325px;
  left: 1585px;
}
.saasWebsiteLandingPageChild5 {
  position: absolute;
  top: 567px;
  left: 0;
  width: 100px;
  height: 100px;
}
.makeYourWork,
.yourDigitalBusiness {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 737px;
}
.makeYourWork {
  font-size: var(--paragraph-18-pixel-size);
  letter-spacing: 0.01em;
  line-height: 155%;
  font-weight: 500;
  width: 471px;
}
.yourDigitalBusinessIsInGoParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.text1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 155%;
  font-weight: 600;
}
.buttonBase1 {
  border-radius: var(--br-13xl);
  background-color: var(--primary-color);
  box-shadow: var(--shadow-xs);
  width: 187px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttonBaseChild {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.buttonBase2 {
  border-radius: var(--br-13xl);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 187px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.buttonBaseParent,
.frameParent {
  display: flex;
  justify-content: flex-start;
}
.buttonBaseParent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-14xl);
  text-align: left;
  font-size: var(--text-regular-normal-size);
}
.frameParent {
  position: absolute;
  top: 241px;
  left: 412px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-21xl);
  font-size: var(--heading-01-56-pixel-size);
  color: var(--white);
}
.shadowIcon {
  position: absolute;
  height: 1.09%;
  width: 101.69%;
  top: 98.69%;
  right: -1.69%;
  bottom: 0.22%;
  left: 0;
  object-fit: cover;
}
.cameraIcon,
.macbookPro16,
.shadowIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.macbookPro16 {
  position: absolute;
  height: 99.42%;
  width: 98.13%;
  top: 0;
  right: 0.92%;
  bottom: 0.58%;
  left: 0.94%;
  object-fit: cover;
}
.cameraIcon {
  height: 0.8%;
  width: 0.47%;
  top: 1.67%;
  right: 49.43%;
  bottom: 97.53%;
  left: 50.1%;
}
.cameraIcon,
.image40Icon,
.logoIcon1 {
  position: absolute;
  object-fit: cover;
}
.logoIcon1 {
  height: 1.27%;
  width: 5.51%;
  top: 92.24%;
  right: 46.91%;
  bottom: 6.49%;
  left: 47.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image40Icon {
  top: -0.03px;
  left: -0.11px;
  width: 783.67px;
  height: 514px;
}
.screenMockupReplaceFill {
  position: absolute;
  height: 88.32%;
  width: 78.71%;
  top: 3.09%;
  right: 10.54%;
  bottom: 8.59%;
  left: 10.74%;
}
.macbookPro16Mockup {
  position: absolute;
  top: 38px;
  left: calc(50% - 497.5px);
  width: 996px;
  height: 582px;
  overflow: hidden;
}
.content {
  align-self: stretch;
  position: relative;
  height: 268.13px;
  flex-shrink: 0;
}
.container {
  position: absolute;
  top: 617px;
  left: 443px;
  width: 715px;
  display: flex;
  flex-direction: column;
  padding: 0 17.874998092651367px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.softwareSolutionsThat {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
  width: 575px;
}
.theFeaturesTo {
  position: relative;
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.01em;
  line-height: 155%;
  color: var(--pragraph);
  text-align: left;
}
.groupChild,
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 38.41px;
  border-radius: 3.01px;
  background-color: var(--color-ghostwhite-300);
  width: 268.13px;
  height: 217.63px;
}
.groupInner,
.groupItem {
  top: 36.27px;
  left: 50.46px;
  background-color: var(--white);
  width: 244.03px;
  height: 169.27px;
}
.groupInner {
  top: 48.36px;
  left: 62.51px;
  background-color: var(--color-ghostwhite-300);
  width: 219.92px;
  height: 145.09px;
}
.groupChild1,
.groupChild2,
.groupChild3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12.05px;
  background-color: var(--white);
  width: 61.01px;
  height: 6.05px;
}
.groupChild2,
.groupChild3 {
  top: 12.09px;
}
.groupChild3 {
  top: 24.18px;
  width: 39.16px;
}
.rectangleGroup {
  position: absolute;
  top: 60.45px;
  left: 74.56px;
  width: 61.01px;
  height: 30.23px;
}
.groupChild4,
.groupChild5,
.groupChild6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12.05px;
  background-color: var(--white);
  width: 61.01px;
  height: 6.03px;
}
.groupChild5,
.groupChild6 {
  top: 12.05px;
}
.groupChild6 {
  top: 24.1px;
  width: 39.16px;
}
.rectangleContainer {
  position: relative;
  width: 61.01px;
  height: 30.13px;
  flex-shrink: 0;
}
.groupContainer {
  position: absolute;
  top: 151.13px;
  left: 136.32px;
  width: 134.06px;
  height: 30.23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.05px;
}
.frameChild,
.frameItem {
  position: relative;
  width: 49.71px;
  height: 12.05px;
  flex-shrink: 0;
}
.frameItem {
  border-radius: 6.78px;
  background-color: var(--color-gainsboro);
  width: 31.63px;
  height: 10.54px;
}
.frameDiv {
  position: absolute;
  top: 12.09px;
  left: 50.46px;
  width: 244.03px;
  height: 12.09px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 162.68px;
}
.frameChild1,
.frameInner {
  position: relative;
  background-color: var(--color-ghostwhite-300);
  width: 12.05px;
  height: 12.05px;
  flex-shrink: 0;
}
.frameChild1 {
  border-radius: 9.79px;
  background-color: var(--white);
  width: 25.61px;
  height: 6.03px;
}
.rectangleParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.03px;
}
.frameChild4 {
  position: relative;
  border-radius: 9.79px;
  background-color: var(--white);
  width: 11.3px;
  height: 6.03px;
  flex-shrink: 0;
}
.frameParent1 {
  flex-direction: row;
  align-items: flex-start;
  gap: 18.08px;
}
.frameContainer,
.frameParent1,
.rectangleParent1 {
  display: flex;
  justify-content: flex-start;
}
.rectangleParent1 {
  flex-direction: row;
  align-items: center;
  gap: 41.42px;
}
.frameContainer {
  position: absolute;
  top: 62.72px;
  left: 170.21px;
  border-radius: 2.85px;
  background-color: var(--primary-color);
  width: 186.78px;
  height: 36.27px;
  flex-direction: column;
  padding: 12.05063247680664px 7.531646251678467px;
  box-sizing: border-box;
  align-items: flex-start;
}
.icon,
.password {
  position: relative;
}
.password {
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 500;
}
.icon {
  width: 4.69px;
  height: 4.04px;
  flex-shrink: 0;
}
.frameWrapper3,
.parent {
  justify-content: flex-start;
}
.parent {
  height: 4.52px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8.28px;
}
.frameWrapper3 {
  border-radius: 17.32px;
  background-color: var(--color-ghostwhite-300);
  padding: 6.02531623840332px;
}
.buttonBase3,
.frameWrapper2,
.frameWrapper3,
.passwordParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.passwordParent {
  justify-content: flex-start;
  gap: 12.05px;
}
.buttonBase3,
.frameWrapper2 {
  justify-content: center;
}
.buttonBase3 {
  border-radius: 24.1px;
  background-color: var(--primary-color);
  box-shadow: 0 0.753164529800415px 1.51px rgba(16, 24, 40, 0.05);
  height: 24.1px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: 12.05063247680664px 21.088607788085938px;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  color: var(--white);
}
.frameParent3 {
  align-items: center;
  justify-content: flex-start;
  gap: 12.05px;
}
.frameParent2,
.frameParent3,
.frameWrapper1 {
  display: flex;
  flex-direction: column;
}
.frameParent2 {
  align-items: flex-start;
  justify-content: center;
  gap: 7.53px;
}
.frameWrapper1 {
  position: absolute;
  top: 145.84px;
  left: 0;
  border-radius: 3.01px;
  background-color: var(--white);
  box-shadow: var(--drop-shadow);
  width: 124.27px;
  height: 154.16px;
  padding: 12.05063247680664px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.rectangleParent {
  position: relative;
  width: 357px;
  height: 300px;
  flex-shrink: 0;
}
.ametMinimMollit,
.taskManagement {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
}
.ametMinimMollit {
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
  color: var(--pragraph);
  text-align: center;
  display: inline-block;
  width: 357px;
}
.taskManagementParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.viewMore {
  position: relative;
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
  font-weight: 500;
  text-align: center;
}
.frameParent4,
.groupParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent4 {
  align-items: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--heading-03-32-pixel-size);
  color: var(--color-gray);
}
.groupParent {
  align-items: flex-start;
  gap: var(--gap-14xl);
}
.frameWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.groupChild10,
.groupChild11,
.groupChild12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.28px;
  background-color: var(--color-ghostwhite-300);
  width: 202.57px;
  height: 163.87px;
}
.groupChild11,
.groupChild12 {
  top: 27.31px;
  left: 9.11px;
  background-color: var(--white);
  width: 184.36px;
  height: 127.46px;
}
.groupChild12 {
  top: 36.42px;
  left: 18.21px;
  background-color: var(--color-ghostwhite-300);
  width: 166.15px;
  height: 109.25px;
}
.groupChild13,
.groupChild14,
.groupChild15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs-1);
  background-color: var(--white);
  width: 73.97px;
  height: 4.55px;
}
.groupChild14,
.groupChild15 {
  top: 9.1px;
}
.groupChild15 {
  top: 18.21px;
  width: 47.49px;
}
.rectangleParent4,
.rectangleParent5 {
  position: absolute;
  top: 45.59px;
  left: 27.53px;
  width: 73.97px;
  height: 22.76px;
}
.rectangleParent5 {
  left: 108.38px;
}
.groupChild19,
.groupChild20,
.groupChild21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs-1);
  background-color: var(--white);
  width: 46.09px;
  height: 4.55px;
}
.groupChild20,
.groupChild21 {
  top: 9.1px;
}
.groupChild21 {
  top: 18.21px;
  width: 29.59px;
}
.rectangleParent6 {
  position: relative;
  width: 46.09px;
  height: 22.76px;
  flex-shrink: 0;
}
.groupParent1 {
  position: absolute;
  top: 113.8px;
  left: 27.53px;
  width: 101.29px;
  height: 22.76px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.1px;
}
.frameChild5,
.groupIcon {
  position: relative;
  width: 37.56px;
  height: 9.1px;
  flex-shrink: 0;
}
.frameChild5 {
  border-radius: 5.12px;
  background-color: var(--color-gainsboro);
  width: 23.9px;
  height: 7.97px;
}
.groupParent2 {
  position: absolute;
  top: 9.1px;
  left: 9.11px;
  width: 184.36px;
  height: 9.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 122.91px;
}
.horizontalLinesIcon {
  position: absolute;
  top: 3.66px;
  left: 16.19px;
  width: 207.86px;
  height: 126.07px;
}
.div,
.div1,
.div2,
.div3 {
  position: absolute;
  top: 125.55px;
  left: 7.31px;
  display: flex;
  align-items: center;
  width: 3.54px;
  height: 7.1px;
}
.div1,
.div2,
.div3 {
  top: 94.16px;
  left: 3.66px;
  width: 7.09px;
}
.div2,
.div3 {
  top: 62.77px;
}
.div3 {
  top: 31.39px;
}
.div4,
.leftText {
  position: absolute;
  top: 0;
  left: 0;
}
.div4 {
  display: flex;
  align-items: center;
  width: 10.63px;
  height: 7.1px;
}
.leftText {
  width: 10.85px;
  height: 132.64px;
}
.monday,
.tuesday {
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.monday {
  position: absolute;
  left: 0;
  width: 22.44px;
  height: 7.1px;
}
.tuesday {
  left: 34.13px;
  width: 23.62px;
}
.thursday,
.tuesday,
.wednesday {
  position: absolute;
  height: 7.1px;
}
.wednesday {
  top: 0;
  left: 63.8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 32.48px;
}
.thursday {
  left: 101.85px;
  width: 25.99px;
}
.friday,
.saturday,
.thursday {
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.friday {
  position: absolute;
  left: 141.53px;
  width: 17.13px;
  height: 7.1px;
}
.saturday {
  left: 171.4px;
  width: 24.8px;
}
.bottomText,
.saturday,
.sunday {
  position: absolute;
  height: 7.1px;
}
.sunday {
  top: 0;
  left: 208.73px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20.67px;
}
.bottomText {
  top: 132.87px;
  left: 4.62px;
  width: 229.4px;
  text-align: center;
}
.lineArea,
.pointsIcon {
  position: absolute;
  top: 40.96px;
  left: 15.88px;
  width: 208.48px;
  height: 88.77px;
}
.pointsIcon {
  top: 39.13px;
  left: 13.84px;
  width: 212.57px;
  height: 80.35px;
}
.nbchartsLinechats {
  position: relative;
  width: 234.01px;
  height: 139.97px;
  flex-shrink: 0;
}
.nbchartsLinechatsWrapper {
  position: absolute;
  top: 127.41px;
  left: 107.45px;
  border-radius: 4.63px;
  background-color: var(--white);
  box-shadow: 0 0 24.4px rgba(0, 0, 0, 0.1);
  width: 252.92px;
  height: 158.87px;
  display: flex;
  flex-direction: column;
  padding: 9.449287414550781px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360.36px;
  height: 286.28px;
}
.viewMore1 {
  position: relative;
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}
.frameParent6,
.frameWrapper5 {
  display: flex;
  align-items: center;
}
.frameParent6 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--heading-03-32-pixel-size);
  color: var(--color-gray);
  font-family: var(--heading-02-48-pixel);
}
.frameWrapper5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite-200);
  flex-direction: row;
  padding: var(--padding-5xl);
  justify-content: center;
  text-align: right;
  font-size: 6.27px;
  color: var(--color-darkslategray-200);
  font-family: var(--text-regular-normal);
}
.frameIcon {
  position: relative;
  width: 357px;
  height: 300px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.frameParent7,
.frameWrapper7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent7 {
  align-items: center;
  gap: var(--gap-21xl);
}
.frameWrapper7 {
  flex: 1;
  align-items: flex-start;
}
.frameWrapper6 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 405px;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--heading-03-32-pixel-size);
  color: var(--color-gray);
}
.frameGroup,
.whatWeDo {
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: 12.05px;
  color: var(--color-darkslategray-100);
}
.whatWeDo {
  position: absolute;
  top: 1337px;
  left: 0;
  flex-direction: column;
  padding: var(--padding-81xl) 161px var(--padding-81xl) var(--padding-141xl);
  align-items: center;
  gap: var(--gap-61xl);
}
.useMarketingAutomation {
  position: relative;
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
  color: var(--pragraph);
  text-align: left;
  display: inline-block;
  width: 624px;
}
.easyAdvanceProtectionParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.buttonBase4 {
  border-radius: var(--br-13xl);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 187px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--primary-color);
}
.frameParent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.image42Icon {
  position: absolute;
  top: 0;
  left: 111px;
  width: 509px;
  height: 352.42px;
  object-fit: cover;
}
.background5Icon,
.illustrator84,
.photoshop90 {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 148px;
}
.illustrator84,
.photoshop90 {
  top: 0.27px;
  border-radius: 6.65px;
}
.illustrator84 {
  top: 15.51px;
  left: 15.17px;
  width: 117.65px;
  height: 117.65px;
}
.b {
  position: absolute;
  top: 63px;
  left: 53px;
}
.nbchartsRings {
  position: relative;
  width: 148px;
  height: 148px;
  flex-shrink: 0;
}
.nbchartsRingsWrapper {
  position: absolute;
  top: 181.07px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.image42Parent {
  position: relative;
  width: 620px;
  height: 369.07px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--paragraph-18-pixel-size);
  color: var(--black);
}
.frameParent9 {
  position: absolute;
  top: 2374px;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-81xl) var(--padding-141xl);
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
}
.image43Icon {
  position: relative;
  width: 515px;
  height: 360.6px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.image43Parent,
.nbchartsRingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nbchartsRingsContainer {
  margin: 0 !important;
  position: absolute;
  top: 211.8px;
  left: 433px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
  padding: var(--padding-xl) var(--padding-base);
  align-items: flex-start;
  z-index: 1;
}
.image43Parent {
  align-items: flex-end;
  position: relative;
}
.advanceProtectionMode {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
  width: 554px;
}
.buttonBase5,
.useMarketingAutomation1 {
  font-size: var(--text-regular-normal-size);
}
.useMarketingAutomation1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 155%;
  color: var(--pragraph);
  display: inline-block;
  width: 624px;
}
.buttonBase5 {
  border-radius: var(--br-13xl);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 187px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.frameParent11,
.frameParent12 {
  display: flex;
  justify-content: flex-start;
}
.frameParent12 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--heading-02-48-pixel-size);
  color: var(--color-gray);
}
.frameParent11 {
  position: absolute;
  top: 2943.07px;
  left: 0;
  flex-direction: row;
  padding: var(--padding-81xl) var(--padding-141xl);
  align-items: center;
  gap: 141px;
  text-align: left;
  font-size: var(--paragraph-18-pixel-size);
  color: var(--black);
}
.customerTestimonials,
.loremIpsumDolor {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
  display: inline-block;
  width: 622.22px;
}
.loremIpsumDolor {
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
  color: var(--pragraph);
}
.vectorIcon {
  position: relative;
  width: 19.21px;
  height: 18.14px;
  flex-shrink: 0;
}
.stars {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.84px;
}
.loremIpsumDolor1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 155%;
}
.avatarImageIcon {
  position: relative;
  width: 53.77px;
  height: 53.77px;
  flex-shrink: 0;
  object-fit: cover;
}
.bankOfAmerica,
.brooklynSimmons {
  position: relative;
  line-height: 150%;
}
.brooklynSimmons {
  letter-spacing: -0.01em;
  font-weight: 500;
}
.bankOfAmerica {
  font-size: 15.36px;
  color: var(--pragraph);
}
.avatarContent {
  flex-direction: column;
  align-items: flex-start;
}
.avatar,
.avatarContent,
.column {
  display: flex;
  justify-content: flex-start;
}
.avatar {
  flex-direction: row;
  align-items: center;
  gap: 15.36px;
  font-size: var(--heading-05-20-pixel-size);
  font-family: var(--text-regular-normal);
}
.column {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite-200);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  width: 406px;
  overflow: hidden;
  flex-direction: column;
  padding: 30.72768211364746px;
  align-items: flex-start;
  gap: 30.73px;
}
.icon14 {
  position: relative;
  width: 23.05px;
  height: 23.05px;
  flex-shrink: 0;
  overflow: hidden;
}
.button {
  position: absolute;
  top: 119px;
  left: -26.41px;
  border-radius: 48.01px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: row;
  padding: 15.36384105682373px;
  align-items: center;
  justify-content: center;
}
.content4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.96px;
  height: 298.53px;
}
.content3 {
  flex: 1;
  position: relative;
  height: 298.53px;
}
.column1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 30.72768211364746px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30.73px;
}
.button1,
.column2 {
  position: absolute;
  display: flex;
}
.column2 {
  top: 0;
  left: 0.18px;
  border-radius: var(--br-5xs);
  width: 406px;
  overflow: hidden;
  flex-direction: column;
  padding: 30.72768211364746px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30.73px;
}
.button1 {
  top: 119px;
  left: -26.04px;
  border-radius: 48.01px;
  border: 1px solid var(--primary-color);
  flex-direction: row;
  padding: 15.36384105682373px;
  align-items: center;
  justify-content: center;
}
.content6 {
  position: absolute;
  top: 0;
  left: 405.22px;
  width: 0.96px;
  height: 298.53px;
}
.content5 {
  flex: 1;
  position: relative;
  background-color: var(--color-ghostwhite-200);
  height: 298.53px;
}
.content2 {
  width: 1280px;
  height: 298.53px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.dotIcon {
  position: relative;
  width: 7.68px;
  height: 7.68px;
  flex-shrink: 0;
}
.content1,
.sliderDots,
.testimonial19 {
  display: flex;
  justify-content: flex-start;
}
.sliderDots {
  flex-direction: row;
  padding: 9.602400779724121px;
  align-items: flex-start;
  gap: 8.64px;
}
.content1,
.testimonial19 {
  flex-direction: column;
  align-items: center;
}
.content1 {
  gap: 46.09px;
  text-align: left;
  font-size: var(--text-regular-normal-size);
}
.testimonial19 {
  position: absolute;
  top: 3503.67px;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  width: 1600px;
  overflow: hidden;
  padding: var(--padding-81xl) 71.1111068725586px;
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.startWithSupport {
  position: relative;
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
}
.content7,
.sectionTitle1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content7 {
  align-self: stretch;
  gap: var(--gap-base);
}
.sectionTitle1 {
  width: 853.33px;
}
.basicPlan,
.mo {
  position: relative;
}
.basicPlan {
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--text-regular-normal);
}
.mo {
  font-size: var(--heading-04-28-pixel-size);
  line-height: 120%;
  font-weight: 800;
}
.or199Yearly {
  position: relative;
  font-size: var(--text-regular-normal-size);
  letter-spacing: 0.02em;
  line-height: 155%;
  color: var(--pragraph);
}
.price1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs-8);
}
.checkIcon {
  position: relative;
  width: 23.42px;
  height: 23.41px;
  flex-shrink: 0;
  overflow: hidden;
}
.unlimitedMembers {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 155%;
}
.list,
.listItem,
.price {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.listItem {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.list,
.price {
  flex-direction: column;
}
.list {
  padding: 7.804877758026123px 0;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--pragraph);
}
.price {
  flex: 1;
  align-items: center;
  gap: 31.22px;
}
.getStarted {
  position: relative;
  line-height: 150%;
}
.button2 {
  align-self: stretch;
  border-radius: var(--br-13xl);
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 15.61px;
  color: var(--primary-color);
  font-family: var(--text-regular-normal);
}
.column3 {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-snow);
  flex-direction: column;
  padding: 31.219511032104492px;
  align-items: center;
  justify-content: flex-start;
  gap: 31.22px;
}
.button3,
.column3,
.column4 {
  align-self: stretch;
  display: flex;
}
.button3 {
  border-radius: var(--br-13xl);
  background-color: var(--primary-color);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 15.61px;
  color: var(--white);
  font-family: var(--text-regular-normal);
}
.column4 {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary-color);
  padding: 31.219511032104492px;
  justify-content: flex-start;
}
.column4,
.column5,
.price4 {
  flex-direction: column;
  align-items: center;
  gap: 31.22px;
}
.price4 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.column5 {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-snow);
  padding: 31.219511032104492px;
}
.column5,
.content8,
.pricing18 {
  display: flex;
  justify-content: flex-start;
}
.content8 {
  width: 1280px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--heading-05-20-pixel-size);
  color: var(--color-gray);
}
.pricing18 {
  position: absolute;
  top: 4253.18px;
  left: 0;
  background-color: var(--white);
  width: 1600px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-81xl) 71.1111068725586px;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-61xl);
  color: var(--black);
}
.getStartedA,
.loremIpsumDolor4 {
  align-self: stretch;
  position: relative;
}
.getStartedA {
  letter-spacing: -0.01em;
  line-height: 120%;
}
.loremIpsumDolor4 {
  font-size: var(--paragraph-18-pixel-size);
  line-height: 150%;
}
.content10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.enterYourEmail {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.input {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--white);
  height: 48px;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
  justify-content: center;
}
.button5,
.form,
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button5 {
  border-radius: var(--br-13xl);
  background-color: var(--primary-color);
  width: 132px;
  flex-shrink: 0;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
  justify-content: center;
  color: var(--white);
}
.form {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.termsAndConditions {
  text-decoration: underline;
}
.byClickingSignContainer {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  line-height: 150%;
  color: var(--white);
}
.actions,
.content9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.actions {
  width: 513px;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--neutral-dark-gray);
  font-family: var(--text-regular-normal);
}
.content9 {
  flex: 1;
  align-items: center;
  gap: var(--gap-5xl);
}
.cta28 {
  position: absolute;
  top: 5121.28px;
  left: 0;
  background-color: #6b50ff;
  width: 1600px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 112px 64px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
}
.logoIcon2 {
  position: relative;
  width: 144px;
  height: 28.8px;
  flex-shrink: 0;
  overflow: hidden;
}
.pricing1 {
  position: relative;
  font-size: var(--paragraph-18-pixel-size);
  letter-spacing: 0.01em;
  line-height: 155%;
}
.column6,
.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.column6 {
  flex-direction: column;
}
.subscribe {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.input1 {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--white);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  height: 48px;
  padding: var(--padding-base) var(--padding-5xl);
}
.button6,
.form1,
.input1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button6 {
  border-radius: var(--br-13xl);
  background-color: var(--primary-color);
  padding: var(--padding-base) var(--padding-9xl);
  color: var(--white);
}
.form1 {
  align-self: stretch;
  gap: var(--gap-base);
  color: var(--neutral-dark-gray);
}
.bySubscribingYouContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.actions1,
.content11 {
  display: flex;
  align-items: flex-start;
}
.actions1 {
  align-self: stretch;
  width: 400px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-base);
}
.content11 {
  width: 1280px;
  flex-direction: row;
  justify-content: space-between;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--white);
  height: 1px;
  flex-shrink: 0;
}
.termsOfService {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.airdokanAllRight {
  position: relative;
  line-height: 150%;
  font-family: var(--text-regular-normal);
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.credits {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-sm);
}
.footer8,
.strategiesOnLowHanging {
  font-size: var(--text-regular-normal-size);
}
.footer8 {
  position: absolute;
  top: 7685.72px;
  left: 0;
  background-color: var(--color-gray);
  width: 1600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-81xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  text-align: left;
  color: var(--white);
}
.strategiesOnLowHanging {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  color: var(--pragraph);
  text-align: center;
  display: inline-block;
  width: 603px;
}
.airtableSvgIcon,
.notionSvgIcon,
.tiktokSvgIcon,
.webflowSvgIcon {
  position: relative;
  width: 260px;
  height: 65px;
  flex-shrink: 0;
  overflow: hidden;
}
.airtableSvgIcon,
.notionSvgIcon,
.tiktokSvgIcon {
  height: 57.42px;
}
.notionSvgIcon,
.tiktokSvgIcon {
  height: 90.13px;
}
.tiktokSvgIcon {
  height: 75.92px;
}
.webflowSvgParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.slackPng {
  position: relative;
  width: 260px;
  height: 106.28px;
  flex-shrink: 0;
  object-fit: cover;
}
.dellSvgIcon,
.spotifySvgIcon,
.zoomSvgIcon {
  position: relative;
  width: 260px;
  height: 121.33px;
  flex-shrink: 0;
  overflow: hidden;
}
.dellSvgIcon,
.spotifySvgIcon {
  height: 78.07px;
}
.dellSvgIcon {
  height: 38px;
}
.samsungElectronicsSvg {
  height: 45.88px;
  overflow: hidden;
}
.alibabaCloudPng,
.amazonSvgIcon,
.samsungElectronicsSvg {
  position: relative;
  width: 260px;
  flex-shrink: 0;
}
.amazonSvgIcon {
  height: 78.26px;
  overflow: hidden;
}
.alibabaCloudPng {
  height: 95.86px;
  object-fit: cover;
}
.samsungElectronicsSvgParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
}
.contentParent,
.frameParent13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.contentParent {
  position: absolute;
  top: 6707px;
  left: 0;
  height: 843px;
  padding: var(--padding-81xl) var(--padding-141xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
}
.loremIpsumDolor5 {
  align-self: stretch;
  position: relative;
  font-size: 17.78px;
  line-height: 150%;
  color: var(--pragraph);
}
.sectionTitle2 {
  width: 758.52px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button7,
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button7 {
  border-radius: var(--br-13xl);
  border: 1px solid var(--primary-color);
  padding: var(--padding-base) var(--padding-9xl);
  justify-content: center;
  font-size: 15.8px;
  color: var(--primary-color);
}
.title {
  width: 1280px;
  justify-content: space-between;
}
.placeholderImage {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 292.68px;
  flex-shrink: 0;
  object-fit: cover;
}
.socialMedia {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.socialMediaWrapper {
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  padding: 3.9024388790130615px 7.804877758026123px;
  align-items: flex-start;
  justify-content: flex-start;
}
.minRead {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  color: var(--pragraph);
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15.61px;
}
.ourFavoriteProductive {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  width: 314px;
}
.loremIpsumDolor6 {
  align-self: stretch;
  position: relative;
  font-size: 15.61px;
  line-height: 150%;
  font-family: var(--text-regular-normal);
  color: var(--pragraph);
}
.content15,
.title1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title1 {
  width: 359.02px;
  gap: var(--gap-5xs-8);
  font-size: 23.41px;
}
.content15 {
  align-self: stretch;
  gap: 15.61px;
}
.chevronDownIcon {
  position: relative;
  width: 15.61px;
  height: 15.61px;
  flex-shrink: 0;
  overflow: hidden;
}
.button8 {
  display: flex;
  flex-direction: row;
  padding: 7.804877758026123px 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: 15.61px;
  color: var(--primary-color);
}
.card,
.content14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content14 {
  align-self: stretch;
  padding: 23.414630889892578px;
  gap: 23.41px;
}
.card {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
}
.minRead1,
.youngStartupsWith {
  position: relative;
  font-weight: 600;
}
.minRead1 {
  line-height: 150%;
  color: var(--black);
}
.youngStartupsWith {
  line-height: 140%;
  display: inline-block;
  width: 327px;
}
.button9 {
  display: flex;
  flex-direction: row;
  padding: 7.804877758026123px 0;
  align-items: center;
  justify-content: center;
  gap: 3.9px;
  font-size: 15.61px;
  color: var(--primary-color);
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0 4px 14px #cde3ef;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.thePerfectIntegration {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.loremIpsumDolor8 {
  align-self: stretch;
  position: relative;
  font-size: 15.61px;
  line-height: 150%;
  color: var(--pragraph);
}
.blog44,
.row1 {
  display: flex;
  align-items: flex-start;
}
.row1 {
  width: 1280px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: 13.66px;
}
.blog44 {
  position: absolute;
  top: 5584.28px;
  left: 0;
  background-color: #f4fbff;
  width: 1600px;
  overflow: hidden;
  flex-direction: column;
  padding: 120px var(--padding-141xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-61xl);
  text-align: left;
}
.curvedSectionDivider4 {
  position: relative;
  width: 1600px;
  height: 136.97px;
}
.saasWebsiteLandingPage {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 8156px;
  overflow: hidden;
  text-align: center;
  font-size: var(--heading-02-48-pixel-size);
  color: var(--color-gray);
  font-family: var(--heading-02-48-pixel);
}
